* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: font3;
	text-align: center;
}
:root {
	--color1: white;
	--fColor1: white;
	--fColor2: rgb(255, 0, 0);
	--fColor3: rgb(0, 81, 255);

	--mobile: 800px;
	--tab: 1200px;
	--desktop: 1500px;

	--titleHeight: 80px;

	--padding: 40px;
	--animTime1: 100ms;
	--blendColor: rgba(0, 0, 0, 0.6);
}

@font-face {
	font-family: font1;
	src: url('/font/GreatVibes.ttf');
}

@font-face {
	font-family: font2;
	src: url('/font/Sansation.ttf');
}

@font-face {
	font-family: font3;
	src: url('/font/Quicksand-Regular.ttf');
}

h1 {
	font-family: font1;
	font-size: 3rem;
}
h2 {
	font-family: font2;
}
p {
	font-size: 1.1rem;
}
