* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--color1: white;
	--fColor1: white;
	
	--mobile: 800px;
	--tab: 1200px;
	--desktop: 1500px;

	--titleHeight: 80px;

	--padding: 40px;
}

@font-face {
	font-family: font1;
	src: url('/font/marsha.ttf');
}
