@font-face {
	font-family: font1;
	src: url('/font/GreatVibes.ttf');
}

@font-face {
	font-family: font2;
	src: url('/font/Sansation.ttf');
}

@font-face {
	font-family: font3;
	src: url('/font/Quicksand-Regular.ttf');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: font3;
}
:root {
	--color0: rgba(0, 0, 0, 0);
	--color1: white;
	--color3: black;
	--color2: rgb(82, 66, 142);

	--fColor1: white;
	--fColor2: rgb(82, 66, 142);
	--fColor3: red;

	--mobile: 800px;
	--tab: 1200px;
	--desktop: 1500px;

	--titleHeight: 80px;

	--padding: 40px;
	--animTime1: 200ms;
}

h1,
h2,
p {
	max-width: 500px;
}

h1 {
	font-family: font1;
	font-size: 3rem;
}

h2 {
	font-family: font2;
}
p {
	font-size: 1.1rem;
}

.centerText * {
	text-align: center;
}

.glass {
	background-color: rgba(255, 255, 255, 0.789);
	backdrop-filter: blur(3px);
}
